<html>
  <body>

    {.repeated section Items}
      <p>{Item.Item|html}
      <em style="font-size:8px;">{Item.Created|date}</em>
      </p>
    <form action="/delete-item" method="post">
        <input type="hidden" name="key" value="{ Key|encode }" />
      <div><input type="submit" value="Delete { Key|encode }"></div>
    </form>
    {.end }

    <form action="/create-item" method="post">
      <div><textarea name="item" rows="3" cols="60"></textarea></div>
      <div><input type="submit" value="Add item"></div>
    </form>
    <a href="{LogoutURL}">Logout</a>
  </body>
</html>
